<!DOCTYPE html>
<html lang="en">
<head>
<title>Index</title>
</head>
<body>
<h1>Participation System</h1>
  <div id="main">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="header">Proposals</h2>
                </div>
            </div>
			
			<table>
					<tr>
					<th>Votes</th>
					<th>User</th>
					<th></th>
					<th>Comment</th>
			   </tr>
			   <tr th:each="comment : ${proposal.getComments()}">
					<td th:text="${comment.getNumberOfVotes()}"></td>
					<td th:text="${comment.getUser().getName()}"></td>
					<td th:text="${comment.getContent()}"></td>
			   </tr>
			</table>

        </div>
</div>
</body>
</html>
